/* styles.css */

/* Style du bouton "Voir les employés" */
.btn-primary {
    background-color: #28a745; /* Vert */
    border-color: #28a745; /* Bordure verte */
}

/* Style du bouton "S'inscrire" */
.navbar .btn-primary {
    margin-left: 10px; /* Espacement à gauche */
}
	body {
    background-color: #f8f9fa; /* Couleur de fond douce */
}
.navbar {
    background-color: #4caf50; /* Couleur de fond verte */
}
.navbar-brand, .navbar-nav .nav-link {
    color: white !important;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px); /* Hauteur totale moins la hauteur de la navbar */
}
.text-content {
    text-align: center;
    color: black;
    font-size: 1.5em; /* Augmentez la taille du texte si nécessaire */
    font-weight: bold; /* Texte en gras */
}
.image-content img {
    max-width: 100%;
    height: auto;
}
	

