<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion des Ressources Humaines</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        
      </ul>
      <!-- Bouton "S'inscrire" à côté de la barre de recherche -->
      <a class="btn btn-primary my-2 my-sm-0" th:href="@{/login}" role="button">S'inscrire</a>
    </div>
  </div>
</nav>

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenue à la Gestion des Ressources Humaines</h1>
        <p class="lead">Cette application vous aide à gérer les employés de votre entreprise.</p>
        <hr class="my-4">
        <p>Cliquez sur le bouton ci-dessous pour voir la liste des employés.</p>
        <div class="d-grid gap-2 col-6 mx-auto mb-3">
    <a class="btn btn-primary btn-lg" th:href="@{/employees}" role="button">Gérer les employés</a>
</div>
<div class="d-grid gap-2 col-6 mx-auto mb-3">
    <a class="btn btn-primary btn-lg" th:href="@{/conges}" role="button">Gérer les congés</a>
</div>
<div class="d-grid gap-2 col-6 mx-auto mb-3">
    <a class="btn btn-primary btn-lg" th:href="@{/employees}" role="button">Gérer les Rémunérations</a>
</div>


    </div>
</div>

</body>
</html>
